* {
    background-color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
#container {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}
#day1  {
    float: left;
    padding: 30px;
}
#day2 {
    float: left;
    padding: 28px;
}
#day3 {
    float: left;
    padding: 28px;
}
#day4 {
    float: left;
    padding: 28px;
}
#day5 {
    float: left;
    padding: 28px;

}
.temp {
    font-weight: bold;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
.separate {
    float: left;
    border: 10px solid darkslategray;
}
.des {
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
}
.dt {
    color: lightgray;
    font-family: Courier New, Courier, monospace;
}
#footer {
    clear: both;
    font-size: 95%;
    color: lightgray;
    padding: 40px;
    text-align: center;
}